.box-login {
    width: 100%;
    max-width: 1150px;
    height: 80rem;
    margin: auto;
    margin: 5%;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 55rem auto;
}

.box-login .formulario {
    height: 100%;
    padding: 10rem 15rem;
    
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 10rem  1fr 1fr;
}
.box-login .logo{
grid-column: 1/9;
grid-row: 1/4;

}
.box-login h2{
    grid-column: 1/9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    grid-row: 1/2;
    margin-top: 10px;
    text-align: center;
    margin-top: 70px;
}
.box-login .btn-facebook{
    grid-column: 1/4;
    background-color: rgba(30, 30, 242, 0.863);
    display: flex;
    align-items: center;
       justify-content: center;
       height: 40px;
       color: white;
       grid-row: 2/3;

}   
.box-login .btn-xing{
    grid-row: 2/3;
    grid-column: 5/8;
    background-color: rgba(10, 9, 9, 0.922);
     display: flex;
     align-items: center;
     justify-content: center;
     height: 40px;
     color: white;
}
.box-login span{
    grid-row: 2/3;
    grid-column: 1/9;
    text-align: center;
    margin-top: 60px;
}
#login{
    margin-top: 70px;
    grid-column: 1/9;
   grid-row: 2/3;
}
#login label {
    display: block;
    display: flex;
    flex-direction: column;
}
#login input{
    height: 4rem;
    border: none;
    outline: none;
    border-bottom: 2px solid blueviolet;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}
#login .opciones label{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
#login .opciones label input{
    width: 2rem;
} 
.botones   button{
    background: -webkit-linear-gradient(225deg, #7e6397,#a151ce,#cf09fd);background: linear-gradient(225deg, #7e6397,#a151ce,#cf09fd);
}